/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans_serif;
    line-height: 1.7;
    color: black;
    background: white;
}

/* variabel */
:root {
    --primary: blue;
    --primary-dark: blue;
    --secondary: black;
    --light: white;
    --soft: black;
    --text-soft: black;
    --border: white;
}











